{% extends 'lbforum/profile/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load el_pagination_tags %}

{% block title %}
  {% blocktrans %}{{ view_user.lbforum_profile }}'s posts{% endblocktrans %}
{% endblock %}

{% block content_content %}
  {% include 'lbforum/profile/inc_base_profile.html' %}
  <div class="sep20"></div>
  {% paginate posts %}
  {% get_pages %}
  <div class="box">
    <div class="cell">
      <span class="fade" style="color:grey">{% blocktrans %}liked courses : {% endblocktrans %}</span>
    </div>
    {% for course in like_classes %}
      <div class="cell course">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody >
            <tr>
              {% if course.1 %}
            <td width="auto" valign="top" style="background-color:yellow">
              {% else %}
              <td width="auto" valign="top" >
              {% endif %}
                
                <strong>
                  <a href="{{ course.get_absolute_url }}">{{ course.0.name }}</a>
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
    {% endfor %}

    <div class="cell">
      <span class="fade" style="color:grey">{% blocktrans %}taken courses : {% endblocktrans %}</span>
    </div>
    {% for course in taken_classes %}
    <div class="cell course">
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr>
            {% if course.1 %}
            <td width="auto" valign="top" style="background-color:yellow">
            {% else %}
            <td width="auto" valign="top" >
            {% endif %}
              <strong>
                <a href="{{ course.get_absolute_url }}">{{ course.0.name }}</a>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  {% endfor %}

    <div class="inner">
      {% show_pages %}
    </div>
  </div>
{% endblock %}
