{% extends 'lbforum/profile/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load el_pagination_tags %}

{% block title %}
  {% blocktrans %}{{ view_user.lbforum_profile }}'s posts{% endblocktrans %}
{% endblock %}

{% block content_content %}
  {% include 'lbforum/profile/inc_base_profile.html' %}
  <div class="sep20"></div>
  {% paginate posts %}
  {% get_pages %}
  <div class="box">
    {% for course in like_classes %}
      <div class = "cell">
        <span class = "course_header" style="color:grey">{% blocktrans %}liked courses {% endblocktrans %}</span>
      </div>
        {% if course.1 %}
          <a class = "item_node" style="background-color:yellow" href="{{ course.get_absolute_url }}">
            <span>{{ course.0.name }} </span>
          </a>
        {% else %}
          <a class = "item_node"  href="{{ course.get_absolute_url }}">
            <span>{{ course.0.name }} </span>
          </a>
        {% endif %}
          
        <!-- <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <caption>
              <span style="color:grey">{% blocktrans %}liked courses : {% endblocktrans %}</span>
            </caption>
              <tbody >
            <tr>
              {% if course.1 %}
            <td width="auto" valign="top" style="background-color:yellow">
              {% else %}
              <td width="auto" valign="top" >
              {% endif %}
                
                <strong>
                  <a href="{{ course.get_absolute_url }}">{{ course.0.name }}</a>
                </strong>
              </td>
            </tr>
          </tbody>
        </table> -->
    {% endfor %}
    <br> 
    <br>

      <span class = "course_header" style="color:grey">{% blocktrans %}taken courses {% endblocktrans %}</span>
      <br> 
      <br>
    {% for course in taken_classes %}
      {% if course.1 %}
        <a class = "item_node" style="background-color:yellow" href="{{ course.get_absolute_url }}">
          <span>{{ course.0.name }} </span>
        </a>
      {% else %}
        <a class = "item_node"  href="{{ course.get_absolute_url }}">
          <span>{{ course.0.name }} </span>
        </a>
      {% endif %}
        <!-- <table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              {% if course.1 %}
              <td width="auto" valign="top" style="background-color:yellow">
              {% else %}
              <td width="auto" valign="top" >
              {% endif %}
                <strong>
                  <a href="{{ course.get_absolute_url }}">{{ course.0.name }}</a>
                </strong>
              </td>
            </tr>
          </tbody>
        </table> -->
  {% endfor %}

    <div class="inner">
      {% show_pages %}
    </div>
  </div>
{% endblock %}
