{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load el_pagination_tags %}
{% load staticfiles %}
{% load lbutils %}

{% block title %}
  {{ topic.subject }} - {% get_setting "LBFORUM_TITLE" %}
{% endblock %}

{% block content_right_bar %}
<div class="cell">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody>
<tr>
<td width="48" valign="top">
<a href="{% url 'lbforum_profile' user_id=userobj.pk %}">
<img width="48px" height="48px" src="{{ userobj.lbforum_profile.get_avatar_url }}" alt=""/>
</a>
</td>
<td width="10" valign="top"></td>
<td width="auto" align="left">
<span class="bigger"><a href="{% url 'lbforum_profile' user_id=userobj.pk %}">{{ userobj.lbforum_profile }}</a></span>
<div class="sep5"></div>
<span class="fade"></span>
</td>
</tr>
</tbody>
</table>
</div>
<div class="inner">
<span class="fade">{% trans "Joined on" %}: <strong>{{userobj.date_joined|date:"Y-m-d"}}</strong></span>
</div>
</div>
{% endblock %}

{% block extra_header %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'lbforum/styles/pygments.css' %}"/>
{% endblock %}

{% block content_content %}
  {% paginate posts %}
  {% get_pages %}
  <div class="box">

  {% if not posts %}
    <div align="center" class="glass"><div class="inner"><span class="white">{% trans "No Reply" %}</span></div></div>
  {% else %}
    <div class="box">
      <div class="cell">
        <div class="fr">
        </div>
        <span class="fade">
          {% trans "Posts" %} [ {% page_range_info pages %} ]
          <span class="snow">|</span>
          {% trans "Last post" %} {{ topic.last_post.created_on|lbtimesince }}
        </span>
      </div>
      <div id="replies">
        {% for post in posts %}
          {% include 'lbforum/inc_post_detail.html' %}
        {% endfor %}
      </div>
      <div class="inner">
        {% show_pages %}
      </div>
    </div>
  {% endif %}

  {% if  topic|topic_can_post:user %}
    <div class="sep20"></div>
    <div class="box" id="quick-reply-box">
      <form action="{% url 'chat_new_replay' topic_id=topic.pk %}" accept-charset="utf-8" method="post" class="frm-form">
        <div class="cell"><div class="fr fade"><a class="dark" href="#Top">Top&uarr;</a></div>
          <span class="fade">
            {% trans "Quick reply to this topic" %}
          </span>
        </div>
        <div class="cell">
          <textarea id="reply_content" name="message" class="mll"></textarea>
          <div class="sep10"></div>
          <div id="e" class="fr fade"></div>
          {% csrf_token %}
          <input type="submit" value="{% trans "Submit" %}" name="submit" class="super normal button">
          <input type="submit" value="{% trans "Preview" %}" name="preview" class="super normal button">
        </div>
      </form>

      <div class="inner">
        <span class="fade" style="font-size: 120%">
          <small>{% trans "You may use" %}: </small>
          <a class="node" target="_blank" title="Help with: BBCode" href="http://fluxbb.org/forums/help/bbcode/" class="exthelp">BBCode</a>
        </span>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block footer_js %}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'mediaelement/build/mediaelement-and-player.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'mediaelement/build/mediaelementplayer.css' %}" />
  <script type="text/javascript">
    $('.entry-attachments-img-s a').click(function() {
      var p = $(this).parent();
      p.hide();
      p.next().show()
      return false;
    })
    $('.content a').attr({ target: "_blank" });
  </script>
{% endblock %}
