{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}
{% load lbutils %}
{% load lbforum_widget_tags %}
{% load el_pagination_tags %}

{% block title %}
  {{ forum }} - {% get_setting "LBFORUM_TITLE" %}
{% endblock %}

{% block content_right_bar %}
    <div class="box">
        <div class="cell">
            <span class="fade">Lecture</span>
        </div>
       <div class="inner">
            <form action= {% url 'lbforum_forum' slug %} method="post">
                {% csrf_token %}
                 <input type="hidden"  name="lecture" value={{forum}}>
                <input type="submit" value="like" class="item_node {% if choose == 1 %}selected{% endif %}" name="stat">
                <input type="submit" value="taken" class="item_node {% if choose == 2 %}selected{% endif %}" name="stat">
                <input type="submit" value="not interested" class="item_node {% if choose == 0 %}selected{% endif %}" name="stat">
            </form>
       </div>
   </div>
   <div class="sep20"></div>
  
  {% if friends_taken|length >= 1 %}
              <div class="box">
                   <div class="cell">
                        <span class="fade">Friends who have taken</span>
                     </div>
                      <div class="inner">
                           {% for i in friends_taken %}
                                <a class="item_node" href={% url 'lbforum_profile' i.userid %}><span>{{i.username}}</span></a>
                             {%endfor%}
                          </div>
                       </div>
                        <div class="sep20"></div>
                    {% endif %}
   
   {% if friends_like|length >= 1 %}
        <div class="box">
            <div class="cell">
                <span class="fade">Friends who liked</span>
            </div>
            <div class="inner">
                {% for i in friends_like %}
                    <a class="item_node" href={% url 'lbforum_profile' i.userid %}><span>{{i.username}}</span></a>
                {%endfor%}
            </div>
        </div>
        <div class="sep20"></div>
   {% endif %}


  {% if forum.description %}
    <div class="box">
      <div class="cell">
        <span class="fade">{% trans "Lecture Description" %}</span>
      </div>
      <div class="inner">
        {{forum.description|bbcode|safe}}
      </div>
    </div>
    <div class="sep20"></div>
  {% endif %}

    {% lbf_categories_and_forums %}
    <div class="sep20"></div>
{% if forum.topictype_set.all.count %}
<div class="box">
    <div class="cell">
        <span class="fade">{% trans "Topic Type" %}</span>
    </div>
    <div class="inner">
        <a class="item_node {% if not topic_type2 %}selected{% endif %}" 
            href="{% forum_url forum topic_type "" %}">
                <span> {% trans "All" %} </span>
        </a>
        {% for tp in forum.topictype_set.all %}
          {% ifnotequal tp|stringformat:"s" "test" %}
            <a class="item_node {% if topic_type2 == tp.slug %}selected{% endif %}" 
                href="{% forum_url forum topic_type tp.slug %}">
                    <span> {{ tp }} </span>
            </a>
          {% endifnotequal %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block content_content %}
  {% paginate topics %}
  {% get_pages %}
  <div class="box">
    <div class="cell" style="padding-bottom: 0px;">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td width="auto" valign="top">
            <div class="fr" align="right">
              <span class="snow">
                {% trans "Topics" %}
                <strong>
                  [ {% page_range_info pages %} ]
                </strong>
              </span>
            </div>
            <span class="bigger">
              <a href="{% url 'lbforum_index' %}">{% trans "Home" %}</a>
              <span class="chevron">&raquo;</span>
              {{ forum }}
            </span>
            <div align="left">
              <div style="float:right;">
                <a href="{% url 'lbforum_new_topic' forum_id=forum.pk %}" class="super normal button">{% trans "Post new topic" %}</a>
              </div>
              <div class = "snow rating">
                  {{avg_rating}}
              </div>
              <div>
                <form action = {% url 'rating' %} method = "post">
                  {% csrf_token %}
                  <div class="rate">
                    <input type="hidden" name="slug" value= {{slug}} >
                    <input type="radio" id="star5" name="rate" value=5 >
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value=4 >
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value=3 >
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value=2 >
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value=1 >
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <div>
                    <input type="submit" value = "submit" class="normal button" width="50">
                  </div>
                </form>
              </div>
            </div>

            <div class="sep5"></div>
            <div class="sep10"></div>
            <div>
              <div class="tp-btn {% if topic_type != "good" %}selected{% endif %}">
                <a href="{% forum_url forum "" topic_type2 %}">{% trans "All" %}</a>
              </div>
              <div class="tp-btn {% if topic_type == "good" %}selected{% endif %}">
                <a href="{% forum_url forum "good" topic_type2 %}">{% trans "Distillate District" %}</a>
              </div>
            </div>
                     </td>
        </tr>
      </table>
    </div>
    {% include 'lbforum/inc_topic_list.html' %}
    <div class="inner">
      {% show_pages %}
    </div>
  </div>
{% endblock %}
