{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbutils %}
{% load lbforum_widget_tags %}

{% block content_right_bar %}
  {% include 'lbforum/widgets/cur_user_profile.html' %}
  <div class="sep20"></div>
  {% lbf_categories_and_forums %}
  <div class="sep20"></div>
  {% lbf_status %}
  <div class="sep20"></div>
  {% for chat in chatlist %}
  <div class="box">
    <div class="cell">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
          <tr>
            <td width="48" valign="top">
              <a href="{% url 'lbforum_profile' user_id=chat.user.pk %}">
                <img width="48px" height="48px" src="{{ chat.user.lbforum_profile.get_avatar_url }}" alt=""/>
              </a>
            </td>
            <td width="10" valign="top"></td>
            <td width="auto" align="left">
              <span class="bigger"><a href="{% url 'lbforum_profile' user_id=chat.user.pk %}">{{ chat.user.lbforum_profile }}</a></span>
              <div class="sep5"></div>
              <span class="fade"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="inner">
      <span class="fade">{{chat.last_sentence}}</span>
    </div>
  </div>
  {% endfor %}
  <!--<div class="box" id="friend-links-box">
    <div class="cell">
      <span class="fade">
        {% trans "Friend Links" %}
      </span>
    </div>
    <div class="inner">
      {% include 'lbforum/plugins/inc_friend_links.html' %}
    </div>
  </div> -->
{% endblock %}

{% block content_content %}
  <div class="box" id="topics_index">
    <div class="cell" align="left">
      <div class="fr"><span style="font-size: 110%;" class="fade">{% get_setting "LBFORUM_SUB_TITLE" %}</span></div>
      <span class="bigger">Welcome to <strong>{% get_setting "LBFORUM_TITLE" %}</strong></span>
      <div class="sep10"></div>
      <a href="{% url 'lbforum_new_topic' %}" class="super normal button">{% trans "Post new topic" %}</a>
    </div>

    {% include 'lbforum/inc_topic_list.html' %}

    <div class="inner">
      <a href="{% url 'lbforum_recent' %}">{% trans "More" %}</a>
    </div>
  </div>
{% endblock %}
